header {
  // border: $border;
  justify-content: center;
  display: flex;
  flex-direction: column;
  z-index: 3;
  .bag-icon {
    width: 20px;
    cursor: pointer;
    color: gray;
    top: 20px;
    right: 30px;
    position: absolute;
  }
  .basket-counter {
    opacity: 0.9;
    top: 31px;
    right: 43px;
    position: absolute;
    border-radius: 50%;
    font-size: 16px;
    height: 14px;
    width: 19px;
    justify-content: center;
    display: flex;
    text-align: top;
    background-color: red;
    padding-bottom: 5px;
  }
  h1 {
    height: 60px;
    // border: $border;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    animation: headerLogoColorChange 3s infinite;
  }
  #mobileicon {
    display: none;
  }
  nav {
    ul {
      background-color: $beige;
      height: 40px;
      justify-content: flex-end;
      display: flex;
      align-items: center;
      div {
        background-color: $beige-light;
        display: flex;
        height: 40px;
        justify-content: flex-end;
        display: flex;
        align-items: center;
        padding-right: 80px;
      }
      li {
        color: white;
        margin: 5px 24px;
        text-decoration: none;
        list-style: none;
      }
    }
  }
}

footer {
  width: 100%;
  height: 160px;
  background-color: $beige;
}
@media screen and (max-width: 768px) {
  header {
    height: 100vh;
    position: fixed;
    opacity: 1;
    width: 100%;
    height: 100vh;
    background-color: $beige;
    align-items: flex-end;
    display: flex;
    justify-content: center;
    left: -100%;
    transition: 0.5s;

    .bag-icon {
      width: 30px;
      cursor: pointer;
      color: gray;
      top: 35px;
      left: 30px;
      position: absolute;
    }
    .basket-counter {
      opacity: 0.9;
      top: 55px;
      left: 45px;
      position: absolute;
      border-radius: 50%;
      font-size: 18px;
      height: 16px;
      width: 21px;
      justify-content: center;
      display: flex;
      text-align: top;
      background-color: red;
      padding-bottom: 5px;
    }
    h1 {
      margin: 0 auto;
      height: 160px;
    }

    nav {
      height: 100%;

      width: 100%;
      ul {
        height: 100%;
        width: 100%;
        text-align: start;
        flex-direction: column;

        div {
          background-color: $beige-light;
          display: flex;
          height: 100%;
          flex-direction: column;
          width: 100%;
          justify-content: flex-start;
          display: flex;
          align-items: center;
          padding-right: 0px;
        }
        li {
          color: white;
          margin: 5px 24px;
          text-decoration: none;
          list-style: none;
          font-size: 36px;
          height: 50px;
        }
      }
    }
  }
  .nav-open {
    left: 0;
  }

  .ham-cont {
    z-index: 3;
    top: 39px;
    right: 30px;
    position: fixed;
    cursor: pointer;
    height: 40px;
    grid-area: hamCont;
  }

  .ham-menu-line {
    background-color: #1b0d01;
    cursor: pointer;
    height: 5px;
    position: relative;
    width: 40px;
    top: 11px;
    right: 0px;
    display: block;
    transition: 0.5s all;
    border-radius: 1px;
    background-color: black !important;
  }

  .ham-menu-linea,
  .ham-menu-lineb {
    background-color: #1b0d01;
    content: "";
    display: block;
    height: 5px;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 40px;
    border-radius: 1px;
    cursor: pointer;
    transition: 0.5s all;
    background-color: black !important;
  }

  .upload-btn-ph {
    display: unset;
    border: none;
    background: none;
    text-decoration: none;
    color: black;
    font-size: 16px;
  }
  .fa-plus-square {
    font-size: 24px;
    &::before {
      content: "\f0fe";
      transform: translateY(-19px);
      position: absolute;
      transform: translate(-27px, -17px);
    }
  }

  .ham-menu-linea,
  .ham-menu-lineb {
    background-color: #1b0d01;
    content: "";
    display: block;
    height: 5px;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 40px;
    border-radius: 1px;
    cursor: pointer;
    transition: 0.5s all;
    background-color: black !important;
  }
  .ham-menu-lineb {
    top: 1px;
  }

  .ham-menu-linea {
    top: 20px;
    width: 40px;
  }

  .linea-rot {
    transform: rotate(45deg);
    top: 12px;
    width: 40px;
    transition: 0.5s all;
  }

  .lineb-rot {
    transform: rotate(-45deg);
    top: 12px;
    transition: 0.5s all;
  }

  .line-rot {
    right: -360px;
    transition: all 0.5s;
  }
}

@keyframes headerLogoColorChange {
  0% {
    color: #c5dbed;
  }
  50% {
    color: $blue-light;
  }
  100% {
    color: #c5dbed;
  }
}
