.card-container {
  height: 240px;
  width: 220px;
  border: 1px solid white;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 20px;
  overflow: hidden;
  border: $border;
  &:hover {
    border: $border;
  }
  &:hover .card-image {
    transform: scale(1.2);
  }
  &:hover .card-img-container {
    height: 100px;
  }
  &:hover h4 {
    opacity: 1;
  }
  h2 {
    text-align: center;
    width: 100%;
    // border: $border;
    min-height: 25px;
  }
  h3 {
    text-align: center;
    height: 20px;
    width: 100%;
    // border: $border;
  }
  h4 {
    text-align: center;
    transition: 0.2s;
    margin-top: 14px;
    // display: none;
    opacity: 0;
  }
}

.card-img-container {
  width: 100%;
  height: 140px;
  overflow: hidden;
  transition: 0.5s;
}

.card-image {
  width: 100%;
  object-fit: cover;
  transition: 0.5s;
}
.basket {
  cursor: pointer;
  &:hover {
    color: gray;
  }
}
.table-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#submit {
  width: 120px;
  height: 40px;

  background-color: none;
  border: 2px solid $gray;
  cursor: pointer;
  font-family: $minimal;
  text-transform: uppercase;
  &:hover {
    border-color: $beige;
  }
}

.delete-x {
  cursor: pointer;
}
.basket-tfoot {
  td {
    padding: 5px;
    padding-top: 48px;
    font-weight: bold;
  }
}

.basket-table {
  align-self: start;
  width: 500px;
  margin: 0 auto 120px auto;
  padding: 20px;
  border-collapse: collapse;
  caption {
    // border: $border;
    height: 40px;
    font-size: 24px;
    text-transform: uppercase;
  }
  td:last-child {
    text-align: end;
  }

  thead {
    height: 90px;

    td {
      padding: 5px;
    }
  }
  tbody {
    td {
      // border: $border;
      padding: 5px;
    }
  }
}

// contact

.contact-container {
  width: 400px;
  height: 70px;

  margin: 0 auto;
  td {
    width: 200px;
  }
  td:first-child {
    text-align: end;
    padding-right: 5px;
  }
  td:last-child {
    text-align: start;
    padding-left: 8px;
    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 768px) {
  .card-container {
    position: relative;
    width: 80%;
    height: 320px;
    overflow: hidden;
    transition: 0.5s;
    margin: 30px auto;
    // justify-content: space-between;
  }
  .card-img-container {
    width: 100%;
    height: 180px;
    overflow: hidden;
    transition: 0.5s;
  }
  .basket {
    opacity: 1 !important;
  }

  .card-container {
    &:hover {
      border: $border;
    }
    &:hover .card-image {
      transform: none;
    }
    &:hover .card-img-container {
      height: 180px;
    }
  }
  .basket-table {
    width: 90%;
    padding: 10px;
    font-size: 14px;
  }
}
