@import "vars";
@import "header-footer";
@import "subs-content";

html {
  font-family: $minimal;
}

main {
  width: 100%;
  height: auto;
  min-height: 500px;
  // background-color: #d1d1d1;
  padding-top: 10px;
}
.content-container {
  // border: 1px solid red;
  height: auto;
  width: 1100px;
  margin: 80px auto;
  display: flex;
  // align-items: center;
  min-height: 500px;
}

@media screen and (max-width: 768px) {
  .content-container {
    width: 95vw;
    display: block;
  }
}
